
@{
    ViewBag.Title = "GET_TrangChu";
}
@using (UI_DATN_QS.Models.DB_Entities.DB_DATN_QSEntities entities = new UI_DATN_QS.Models.DB_Entities.DB_DATN_QSEntities())
{
    <div class="container col-sm-12" style="margin: 2rem;">
        <div class="row col-sm-12">
            <div class="card bg-light" style="margin: 1rem;">
                <div class="card-header bg-primary  text-light"><h5 style="width: 10rem;"> Học Viên </h5></div>
                <div class="card-body text-center">
                    <h2>
                        @entities.HOC_VIEN.ToList().Join(entities.TAI_KHOAN.Where(p => p.IS_Deleted == 0).ToList(), hv => hv.ID_TaiKhoan, tk => tk.ID_TaiKhoan, (hv, tk) => new { hv, tk }).Count()
                    </h2>
                </div>
                <div class="card-footer bg-primary"></div>
            </div>
            <div class="card bg-light" style="margin: 1rem;">
                <div class="card-header bg-primary  text-light"><h5 style="width: 10rem;"> Lớp Học </h5></div>
                <div class="card-body text-center">
                    <h2>
                        @entities.LOP_HOC.Where(p => p.IS_Deleted == 0).Count()
                    </h2>
                </div>
                <div class="card-footer bg-primary"></div>
            </div>
            <div class="card bg-light" style="margin: 1rem;">
                <div class="card-header bg-primary  text-light"><h5 style="width: 10rem;"> Khóa Học </h5></div>
                <div class="card-body text-center">
                <h2>
                    @entities.KHOA_HOC.Where(p => p.IS_Deleted == 0).Count()
                </h2>
                </div>
                <div class="card-footer bg-primary"></div>
            </div>
            <div class="card bg-light" style="margin: 1rem;">
                <div class="card-header bg-primary  text-light"><h5 style="width: 10rem;"> Ngành Học </h5></div>
                <div class="card-body text-center">
                <h2>
                    @entities.NGANH_HOC.Where(p => p.IS_Deleted == 0).Count()
                </h2>
                </div>
                <div class="card-footer bg-primary"></div>
            </div>
            <div class="card bg-light" style="margin: 1rem;">
                <div class="card-header bg-primary  text-light"><h5 style="width: 10rem;"> Môn Học </h5></div>
                <div class="card-body text-center">
                    <h2>
                        @entities.MON_HOC.Where(p => p.IS_Deleted == 0).Count()
                    </h2>
                </div>
                <div class="card-footer bg-primary"></div>
            </div>
            <div class="card bg-light" style="margin: 1rem;">
                <div class="card-header bg-primary  text-light"><h5 style="width: 10rem;"> Đề Thi </h5></div>
                <div class="card-body text-center">
                    <h2>
                        @entities.DE_THI.Where(p => p.IS_Deleted == 0).Count()
                    </h2>
                </div>
                <div class="card-footer bg-primary"></div>
            </div>
            <div class="card bg-light" style="margin: 1rem;">
                <div class="card-header bg-primary  text-light bg-primary"><h5 style="width: 10rem;"> Câu Hỏi </h5></div>
                <div class="card-body text-center">
                <h2>
                    @entities.CAU_HOI.Where(p => p.IS_Deleted == 0).Count()
                </h2>
                </div>
                <div class="card-footer bg-primary bg-primary"></div>
            </div>
            <div class="card bg-light" style="margin: 1rem;">
                <div class="card-header bg-primary  text-light"><h5 style="width: 10rem;"> Người Dùng </h5></div>
                <div class="card-body text-center">
                    <h2>
                        @entities.NGUOI_DUNG.ToList().Join(entities.TAI_KHOAN.Where(p => p.IS_Deleted == 0).ToList(),nd => nd.ID_TaiKhoan,tk => tk.ID_TaiKhoan,(nd, tk) => new { nd, tk }).Count()
                    </h2>
                </div>
                <div class="card-footer bg-primary "></div>
            </div>
        </div>
    </div>
}
