
@using UI_DATN_QS.Models.DB_Entities;

@model UI_DATN_QS.ViewModels.CauHoi_ViewModel

@using (Html.BeginForm("DELETE_CauHoi", "KyThi", FormMethod.Post))
{
    <div class="container-fluid">
        <br />
        <a class="btn btn-primary" href="@Url.Action("INSERT_CauHoi", "DeThiGV", new { area = "GiangVien" })">
            <i class="fas fa-plus"></i> Tạo Câu Hỏi
        </a>
        <a class="btn btn-primary" href="@Url.Action("INSERT_NganhHoc", "DeThiGV", new { area = "GiangVien" })">
            <i class="fas fa-file-excel"></i> Tạo Từ File
        </a>
        <a class="btn btn-primary" href="@Url.Action("INSERT_MonHoc", "DeThiGV", new { area = "GiangVien" })">
            <i class="fas fa-plus"></i> Tạo Môn Học
        </a>
        <button class="btn btn-danger" onclick="return confirm('Are you sure?')" type="submit">
            <i class="fas fa-trash-alt"></i> Xóa Mục Đã Chọn
        </button>

    </div>

    <div class="container-fluid">
        <br />
        <div class="form-group row">
            <label for="inputPassword" class="col-form-label" style="margin-left: 1rem;">Môn học</label>
            <div class="col-md-3 .col-lg-2">
                @Html.DropDownListFor(mo => mo.ID_MonHoc, new SelectList(Model.list_MonHoc, "ID_MonHoc", "TEN_MonHoc", Model.ID_MonHoc), new { @id = "cboMonHoc", @class = "form-control" })
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12 table-responsive" style="padding-top: 1rem;">
                <table id="dataTable" class="table table-bordered  display nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="text-center"><i class="fas fa-paw text-dark"></i></th>
                            <th class="text-center"><input type="checkbox" id="checkBoxAll" /></th>
                            <th>Chương</th>
                            <th>Nội dung</th>
                            <th>Lựa chọn 1</th>
                            <th>Lựa chọn 2</th>
                            <th>Lựa chọn 3</th>
                            <th>Đáp án</th>
                            <th>Ngày tạo</th>
                            <th>Ngày sửa</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <div>
                        <tbody>
                            @{int count = 1; }
                            @foreach (CAU_HOI item in Model.list_CauHoi)
                            {
                                <tr>
                                    <td class="text-center">@(count++)</td>
                                    <td class="text-center">
                                        <input type="checkbox" class="CheckBoxItem" name="ID_CauHoi" value="@item.ID_CauHoi" />
                                    </td>
                                    <td>@item.ID_Chuong</td>
                                    <td style="white-space:normal;">
                                        @{
                                            if (item.ANH_CauHoi != null)
                                            { <i class="far fa-images"></i> }
                                            else
                                            { <i class="fas fa-spell-check"></i> }
                                        }
                                        @item.NDUNG_CauHoi
                                    </td>
                                    <td style="white-space:normal;">@item.LCHON_1</td>
                                    <td style="white-space:normal;">@item.LCHON_2</td>
                                    <td style="white-space:normal;">@item.LCHON_3</td>
                                    <td style="white-space:normal;">@item.LCHON_Dung</td>

                                    <td>@item.TIME_Create.Value.ToString("dd/MM/yyyy")</td>
                                    <td>@item.TIME_Update.Value.ToString("dd/MM/yyyy")</td>
                                    <td>
                                        <a class="btn btn-sm btn-outline-primary rounded-circle" href="@Url.Action("UPDATE_CauHoi", "KyThi", new { pID_CauHoi = item.ID_CauHoi })" data-toggle="tooltip" data-placement="right" title="Chỉnh Sửa">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <a class="btn btn-sm btn-outline-danger rounded-circle" href="@Url.Action("DELETE_CauHoi", "KyThi", new { pID_CauHoi = item.ID_CauHoi })" onclick="return confirm('Are you sure?')" data-toggle="tooltip" data-placement="right" title="Xóa">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </div>
                    <tfoot>
                        <tr>
                            <th class="text-center"><i class="fas fa-paw text-dark"></i></th>
                            <th></th>
                            <th>Chương</th>
                            <th>Nội dung</th>
                            <th>Lựa chọn 1</th>
                            <th>Lựa chọn 2</th>
                            <th>Lựa chọn 3</th>
                            <th>Đáp án</th>
                            <th>Ngày tạo</th>
                            <th>Ngày sửa</th>
                            <th>Chức năng</th>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
}

<br />
<br />

@section JSFooter{
    <script>
        $(document).ready(function () {

            $('table.display').DataTable({
                responsive: true,
                "order": [[2, "asc"]],
                "columnDefs": [
                    { "orderable": false, "targets": 0 },
                    { "orderable": false, "targets": 1 },
                    { "orderable": false, "targets": 10 }
                ]
            });

            $("#notify_Popup").modal();

            $('#checkBoxAll').click(function () {
                if ($(this).is(":checked"))
                    $('.CheckBoxItem').prop('checked', true);
                else $('.CheckBoxItem').prop('checked', false);
            });

            $('#cboMonHoc').on('change', function () {
                var url = $(this).val(); // get selected value
                if (url) { // require a URL
                    window.location.href = "/GiangVien/DeThiGV/GET_CauHoi?pID_MonHoc=" + url; // redirect
                }
                return false;
            });
        });
    </script>

}

