
@using UI_DATN_QS.Models.DB_Models;

@model UI_DATN_QS.ViewModels.DeThi_ViewModel

@using (Html.BeginForm("DELETE_DeThi", "DeThiGV", FormMethod.Post))
{
    <div class="container-fluid">
        <br />
        <a class="btn btn-primary" href="@Url.Action("INSERT_DeThi", "DeThiGV", new { area = "GiangVien" })">
            <i class="fas fa-plus"></i> Tạo Đề Thi
        </a>
        @*<a class="btn btn-primary" href="@Url.Action("INSERT_NganhHoc", "HocVien", new { area = "GiangVien" })">
                <i class="fas fa-file-excel"></i> Tạo Từ File
            </a>*@
        <button class="btn btn-danger" onclick="return confirm('Are you sure?')" type="submit">
            <i class="fas fa-trash-alt"></i> Xóa Mục Đã Chọn
        </button>

    </div>

    <div class="container-fluid">
        <br />
        <div class="form-group row">
            <label for="inputPassword" class="col-form-label" style="margin-left: 1rem;">Môn học</label>
            <div class="col-md-3 .col-lg-2">
                @Html.DropDownListFor(mo => mo.ID_MonHoc, new SelectList(Model.list_MonHoc, "ID_MonHoc", "TEN_MonHoc", Model.ID_MonHoc), new { @id = "cboMonHoc", @class = "form-control" })
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12 table-responsive" style="padding-top: 1rem;">
                <table id="dataTable" class="table table-bordered  display nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="text-center"><i class="fas fa-paw text-dark"></i></th>
                            <th class="text-center"><input type="checkbox" id="checkBoxAll" /></th>
                            <th>Mã đề</th>
                            <th>Bài thi</th>
                            <th>Môn</th>
                            <th>Mật khẩu</th>
                            <th>Thời gian</th>
                            <th>Ngày tạo</th>
                            <th>Trạng thái</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <div>
                        <tbody>
                            @{int count = 1; }
                            @foreach (DeThi_Model item in Model.list_DeThi)
                            {
                                <tr>
                                    <td class="text-center">@(count++)</td>
                                    <td class="text-center">
                                        <input type="checkbox" class="CheckBoxItem" name="ID_DeThi" value="@item.ID_DeThi" />
                                    </td>
                                    <td>@item.MA_DeThi</td>
                                    <td>@item.TEN_LBaiThi</td>
                                    <td>@item.TEN_MonHoc</td>
                                    <td>@item.PASS_DeThi</td>
                                    <td>@item.TGIAN_DeThi phút</td>
                                    <td>@item.TIME_Create.Value.ToString("dd/MM/yyyy")</td>
                                    <td class="text-center">
                                        @{
                                            if (item.IS_Locked == 0)
                                            { <a class="btn btn-sm btn-success" href="@Url.Action("IsLock_DeThi", "DeThiGV", new { pID_DeThi = item.ID_DeThi })" data-toggle="tooltip" data-placement="right" title="Bấm để khóa"><i class="fas fa-unlock"></i></a> }
                                            else
                                            { <a class="btn btn-sm btn-secondary" href="@Url.Action("IsLock_DeThi", "DeThiGV", new { pID_DeThi = item.ID_DeThi })" data-toggle="tooltip" data-placement="right" title="Bấm để mở"><i class="fas fa-lock"></i></a> }
                                        }
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-outline-dark rounded-circle" href="@Url.Action("GET_CTDeThi", "DeThiGV", new { pID_DeThi = item.ID_DeThi })" data-toggle="tooltip" data-placement="right" title="Xem chi tiết">
                                            <i class="fas fa-search"></i>
                                        </a>
                                        <a class="btn btn-sm btn-outline-danger rounded-circle" href="@Url.Action("DELETE_DeThi", "DeThiGV", new { pID_DeThi = item.ID_DeThi })" onclick="return confirm('Are you sure?')" data-toggle="tooltip" data-placement="right" title="Xóa">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </div>
                    <tfoot>
                        <tr>
                            <th class="text-center"><i class="fas fa-paw text-dark"></i></th>
                            <th></th>
                            <th>Mã đề</th>
                            <th>Bài thi</th>
                            <th>Môn</th>
                            <th>Mật khẩu</th>
                            <th>Thời gian</th>
                            <th>Ngày tạo</th>
                            <th>Trạng thái</th>
                            <th>Chức năng</th>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
}

<br />
<br />

@section JSFooter{
    <script>
        $(document).ready(function () {

            $('table.display').DataTable({
                responsive: true,
                "order": [[2, "asc"]],
                "columnDefs": [
                    { "orderable": false, "targets": 0 },
                    { "orderable": false, "targets": 1 },
                    { "orderable": false, "targets": 8 },
                    { "orderable": false, "targets": 9 }
                ]
            });

            $("#notify_Popup").modal();

            $('#checkBoxAll').click(function () {
                if ($(this).is(":checked"))
                    $('.CheckBoxItem').prop('checked', true);
                else $('.CheckBoxItem').prop('checked', false);
            });

            $('#cboMonHoc').on('change', function () {
                var url = $(this).val(); // get selected value
                if (url) { // require a URL
                    window.location.href = "/GiangVien/DeThiGV/GET_DeThi?pID_MonHoc=" + url; // redirect
                }
                return false;
            });
        });
    </script>

}

