
@model UI_DATN_QS.ViewModels.LopHoc_ViewModel

<div class="container-fluid">
    <br />
    <a class="btn btn-primary" href="@Url.Action("INSERT_KhoaHoc", "KyThi", new { area = "NguoiDung" })">
        <i class="fas fa-plus"></i> Tạo Khóa Học
    </a>
    <a class="btn btn-primary" href="@Url.Action("INSERT_NganhHoc", "HocVien", new { area = "NguoiDung" })">
        <i class="fas fa-plus"></i> Tạo Chuyên Ngành
    </a>
    <a class="btn btn-primary" href="@Url.Action("INSERT_NienKhoa", "KyThi", new { area = "NguoiDung" })">
        <i class="fas fa-plus"></i> Tạo Niên Khóa
    </a>
</div>
<div class="container">
    <div class="col-md-12">
        <br />
        <h3 class="text-center" id="exampleModalLongTitle">TẠO LỚP HỌC</h3>
        <br />
        @using (Html.BeginForm("UPDATE_LopHoc", "HocVien", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("object_LopHoc.ID_LopHoc", Model.object_LopHoc.ID_LopHoc)
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-md-2 col-form-label">Mã lớp</label>
                <div class="col-sm-8 col-md-10">
                    @Html.TextBoxFor(mo => mo.object_LopHoc.MA_LopHoc, new { @class = "form-control" })
                    @Html.ValidationMessageFor(mo => mo.object_LopHoc.MA_LopHoc, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-md-2 col-form-label">Tên lớp</label>
                <div class="col-sm-8 col-md-10">
                    @Html.TextBoxFor(mo => mo.object_LopHoc.TEN_LopHoc, new { @class = "form-control" })
                    @Html.ValidationMessageFor(mo => mo.object_LopHoc.TEN_LopHoc, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-md-2 col-form-label">Niên khóa</label>
                <div class="col-sm-8 col-md-10">
                    @Html.DropDownListFor(mo => mo.object_LopHoc.ID_NienKhoa, new SelectList(Model.list_NienKhoa, "ID_NienKhoa", "TEN_NienKhoa", Model.list_NienKhoa.Max(p => p.ID_NienKhoa)), new { @class = "form-control" })
                    @Html.ValidationMessageFor(mo => mo.object_LopHoc.ID_NienKhoa, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-md-2 col-form-label">Ngành học</label>
                <div class="col-sm-8 col-md-10">
                    @Html.DropDownListFor(mo => mo.object_LopHoc.ID_NganhHoc, new SelectList(Model.list_NganhHoc, "ID_NganhHoc", "TEN_NganhHoc", Model.list_NganhHoc.Min(p => p.ID_NganhHoc)), new { @class = "form-control" })
                    @Html.ValidationMessageFor(mo => mo.object_LopHoc.ID_NganhHoc, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-md-2 col-form-label">Khóa học</label>
                <div class="col-sm-8 col-md-10">
                    @Html.DropDownListFor(mo => mo.object_LopHoc.ID_KhoaHoc, new SelectList(Model.list_KhoaHoc, "ID_KhoaHoc", "TEN_KhoaHoc", Model.list_KhoaHoc.Max(p => p.ID_KhoaHoc)), new { @class = "form-control" })
                    @Html.ValidationMessageFor(mo => mo.object_LopHoc.ID_KhoaHoc, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-md-2 col-form-label"></label>
                <div class="col-sm-8 col-md-10">
                    <button class="btn btn-success">
                        <i class="fas fa-download"></i> Lưu
                    </button>
                </div>
            </div>

        }
    </div>
</div>